<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="lib/slider/ak-slider.css" rel="stylesheet" type="text/css" />

    <script src="lib/bower_components/angular/angular.min.js"></script>

    <script src="lib/slider/ak-slider.js"></script>
    <script src="src/app.js"></script>
    <script src="src/demoController.js"></script>

    <title></title>
</head>
<body>
    <div>
        <div ng-app="sildeDemoApp">
            <div ng-controller="demoController">
                <ul ak-slider ak-slider-slide="slide" ak-slider-width="'500px'" style="display:block;" ak-slider-height="'300px'">
                    <li ng-repeat="item in items">
                        <div ng-style="{'background-color': item.color, 'height':'300px'}"> {{item.text}}</div>
                    </li>
                </ul>
                <br />

                slide: {{slide}}
                <br />
                <button ng-click="next()">next </button>
                <button ng-click="prev()">previous </button>
                <button ng-click="unshiftItemsAndStay()">unshift itmes and stay on this slide </button>
                <button ng-click="pushItemsAndStay()">push itmes and stay on this slide </button>

                <div style="width:500px;">
                    <ul ak-slider ak-slider-slide="imgSlide" ak-slider-width="'500px'" ak-slider-height="'500px'" >
                        <li ng-repeat="item in imgItems">
                            <div >
                                <img style="max-width:100%;max-height:100%;" ng-src="{{item.source}}" alt="{{item.alt}}" >
                            </div>
                        </li>
                    </ul>
                </div>
                <br />
                <button ng-click="imgNext()">next </button>
                <button ng-click="imgPrev()">previous </button>



            </div>
        </div>
    </div>
</body>
</html>
