<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="lib/slider/ak-slider.css" rel="stylesheet" type="text/css" />
    <link href="styles/main.css" rel="stylesheet" type="text/css" />

    <script src="lib/bower_components/angular/angular.min.js"></script>

    <script src="lib/slider/ak-slider.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/randomDataService.js"></script>
    <script src="scripts/demoController.js"></script>

    <title></title>
</head>
<body>
    <div>
        <div ng-app="sildeDemoApp">
            <div ng-controller="demoController">
                <div>
                     Slide {{imgSlide + 1}} out of {{imgItems.length}}
                </div>
                <br/>
                <a class="button" ng-click="imgPrev()"> < </a>
                <a class="button" ng-click="imgNext()"> > </a>
                <a class="button" ng-click="unshiftItemsAndStay()">Unshift </a>
                <a class="button" ng-click="pushItemsAndStay()">Push</a>
                <div>
                    <ul ak-slider ak-slider-slide="imgSlide" ak-slider-width="'500px'" ak-slider-height="'500px'" >
                        <li ng-repeat="item in imgItems">
                            <div >
                                <img style="max-width:100%;max-height:100%;" ng-src="{{item.source}}" alt="{{item.alt}}" >
                            </div>
                        </li>
                    </ul>
                </div>
                <br />


            </div>
        </div>
    </div>
</body>
</html>
